body{
margin:0;
font-family:Arial, sans-serif;
background:#800020;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
}

nav a{
margin:15px;
text-decoration:none;
color:white;
font-weight:bold;
padding-bottom:5px;
border-bottom:2px solid transparent;
}

nav a:hover{
border-bottom:2px solid white;
}
.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:80px;
}

.about{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px;
}

.about-text{
width:50%;
}

.about-image img{
width:250px;
border-radius:50%;
}

.skills{
text-align:center;
padding:100px;
}

.skill-box span{
display:inline-block;
background:#333;
padding:10px 20px;
margin:10px;
border-radius:8px;
}

.projects{
padding:100px;
text-align:center;
}

.project-card{
background:#222;
padding:20px;
margin:20px;
border-radius:10px;
}

.contact{
text-align:center;
padding:100px;
}